<%= render 'layouts/header_clientes'%>

<p id="notice"><%= notice %></p>

<h1>Lista de clientes</h1>
 <div class="col-lg-6">
<%= form_tag(clientes_path, :method => "get",class: "input-group", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar Clientes" %>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </span>
    </div>
  <% end %>
  <%= yield %>
    </div>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>RFC</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Contacto</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rfc %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.contacto %></td>
        <td><%= cliente.email %></td>
        <td><div class="btn-group">
            <button class="btn btn-default btn-ln dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Abrir', cliente %></li>
            <li><%= link_to 'Editar', edit_cliente_path(cliente) %></li>
          </ul>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'layouts/button_add'%>