  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Alto Tráfico</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/empleados/">Empleados</a></li>
            <li><a href="/pedidos/">Pedidos</a></li>
            <li><a href="/obras/">Obras</a></li>
            <li><a href="/productos/">Inventario</a></li>
            <li class="active"><a href="/proveedors/">Proveedor</a></li>
            <li><a href="/clientes/">Clientes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<p id="notice"><%= notice %></p>

<h1>Listing Proveedors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Pais</th>
      <th>Web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.nombre %></td>
        <td><%= proveedor.correo %></td>
        <td><%= proveedor.direccion %></td>
        <td><%= proveedor.pais %></td>
        <td><%= proveedor.web %></td>
        <td><%= link_to 'Show', proveedor %></td>
        <td><%= link_to 'Edit', edit_proveedor_path(proveedor) %></td>
        <td><%= link_to 'Destroy', proveedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'layouts/button_add'%>

