<%= render 'layouts/header_pedidos'%>

<!-- mensajes de error -->
<%= render 'layouts/messages' %>

<p id="notice"><%= notice %></p>

<h1>Lista de Pedidos</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>M2</th>
      <th>Orden</th>
      <th>Recibido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.m2 %></td>
        <td><%= pedido.orden %></td>
        <td><%= pedido.recibido %></td>
        <td><%= link_to 'Mostrar', pedido %></td>
        <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'layouts/button_add'%>


