<%= render 'layouts/header_pedidos'%>
<h1>Nuevo Pedido</h1>

<%= form_for(@pedido, html: {class: "form-horizontal"}) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label col-sm-2" for="contacto">Producto:</label>
    <div class="col-sm-10">
      <%= f.collection_select(:producto_id, Producto.all, :id, :nombre) %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="direccion">Metros cuadrados:</label>
    <div class="col-sm-10">
      <%= f.text_field :m2 ,id: "m2",class: "form-control",placeholder: "Introducir m2"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="direccion">Fecha del pedido:</label>
    <div class="col-sm-10">
      <%= f.date_select :orden ,id: "orden",class: "form-control"%>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit" <%= f.submit %>
      Aceptar</button>
    </div>
  </div>

<% end %>

