<%= render 'layouts/header_pedidos'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>M2:</strong>
  <%= @pedido.m2 %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @pedido.orden %>
</p>

<p>
  <strong>Recibido:</strong>
  <%= @pedido.recibido %>
</p>

<%= link_to 'Regresar', "/pedidos/" %>
