<%= form_for(@empleado) do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-signin">
  <%= f.label :nombre %><br>
  <input class="form-control" <%= f.text_field :nombre %></input>
    <div class="field">

  </div>
  <div class="field">
    <%= f.label :rfc %><br>
    <input class="form-control" <%= f.text_field :rfc %></input>
    
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
     <input class="form-control" <%= f.text_field :direccion %></input>
    
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <input class="form-control" <%= f.text_field :telefono %></input>
    
  </div>
  <div class="field">
    <%= f.label :seguro_social %><br>
    <input class="form-control" <%= f.text_field :seguro_social %></input>
    
  </div>
  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" type="submit" <%= f.submit %>Crear Empleado</button>
  </div>
  </form>

<% end %>
