<p id="notice"><%= notice %></p>

<h1>Listing Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rfc</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Seguro social</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.nombre %></td>
        <td><%= empleado.rfc %></td>
        <td><%= empleado.direccion %></td>
        <td><%= empleado.telefono %></td>
        <td><%= empleado.seguro_social %></td>
        <td><%= link_to 'Show', empleado %></td>
        <td><%= link_to 'Edit', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destroy', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empleado', new_empleado_path %>
