<p id="notice"><%= notice %></p>

<h1>Lista de Localidades</h1>

<table>
  <thead>
    <tr>
      <th>Dirección</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localidads.each do |localidad| %>
      <tr>
        <td><%= localidad.direccion %></td>
        <td><%= link_to 'Show', localidad %></td>
        <td><%= link_to 'Edit', edit_localidad_path(localidad) %></td>
        <td><%= link_to 'Destroy', localidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Localidad', new_localidad_path %>
