<%= render 'layouts/header_obras'%>

<p id="notice"><%= notice %></p>
<div class="col-lg-6">
	<div class="panel panel-default">
  		<div class="panel-heading clearfix">
    		<h3 class="panel-title pull-left">Localidad</h3>
    		<div class="btn-group pull-right">
            	<%= link_to 'Editar', edit_localidad_path(@localidad), :class => "btn btn-default"%>
        	</div>
  		</div>
  		<div class="panel-body">  
  			<label class="control-label" for="nombre">Dirección:</label>
  			<%= @localidad.direccion %><br>
  		</div>
	</div>




<h1>Lista de Productos <% if current_user.admin? %>
  <%= link_to new_prod_loc_path(localidad_id: @localidad), class: "btn btn-success btn-circle btn-lg" do %>
  <i class="glyphicon glyphicon-plus" style="color:white"></i>
  <% end %> 
<% end %></h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Presentación</th>
      <th>Especificaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localidad.productos.each do |productos| %>
      <tr>
        <td><%= productos.nombre %></td>
        <td><%= productos.presentacion %></td>
        <td><%= productos.especificaciones %></td>
        <td>
          <div class="btn-group"></div>
        </td>
      </tr>
    <% end %>
  
  </tbody>
</table>
