<%= form_for(@prod_loc) do |f| %>
  <% if @prod_loc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prod_loc.errors.count, "error") %> prohibited this prod_loc from being saved:</h2>

      <ul>
      <% @prod_loc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :m2 %><br>
    <%= f.text_field :m2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
