<%= form_for(@producto, html: {class: "form-horizontal"}) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :linea_id %>

  <div class="form-group">
    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
    <div class="col-sm-10">
      <%= f.text_field :nombre ,id: "nombre",class: "form-control",placeholder: "Introducir Nombre"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="rfc">Presentación:</label>
    <div class="col-sm-10">
      <%= f.text_field :presentacion ,id: "presentacion",class: "form-control",placeholder: "Introducir Presentación"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="direccion">Especificaciones:</label>
    <div class="col-sm-10">
      <%= f.text_field :especificaciones ,id: "especificaciones",class: "form-control",placeholder: "Introducir Especificaciones"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="telefono">Color:</label>
    <div class="col-sm-10">
      <%= f.text_field :color ,id: "color",class: "form-control",placeholder: "Introducir Color"%>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="contacto">Metros cuadrados:</label>
    <div class="col-sm-10">
      <%= f.text_field :m2 ,id: "m2",class: "form-control",placeholder: "Introducir m2"%>
    </div>
  </div> 
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit" <%= f.submit %>
      Aceptar</button>
    </div>
  </div>

</form>
<% end %>
