<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @producto.presentacion %>
</p>

<p>
  <strong>Especificaciones:</strong>
  <%= @producto.especificaciones %>
</p>

<p>
  <strong>Color:</strong>
  <%= @producto.color %>
</p>

<p>
  <strong>M2:</strong>
  <%= @producto.m2 %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
