<%= render 'layouts/header_productos'%>
<p id="notice"><%= notice %></p>


<p id="notice"><%= notice %></p>
 <div class="col-lg-6">
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Producto</h3>
    <div class="btn-group pull-right">
            <% if current_user.admin? %>
              <%= link_to 'Editar', edit_producto_path(@producto), :class => "btn btn-warning", :style=>'color:#FFFFFF;'%>
            <% end %>
         
        </div>
  </div>
  <div class="panel-body">
    
  <label class="control-label" for="nombre">Nombre:</label>
  <%= @producto.nombre %><br>
  <label class="control-label" for="nombre">Presentacion:</label>
<%= @producto.presentacion %><br>
   <label class="control-label" for="nombre">Especificaciones:</label>
<%= @producto.especificaciones %><br>
   <label class="control-label" for="nombre">Color:</label>
 <%= @producto.color %><br>
   <label class="control-label" for="nombre">m2:</label>
<%= @producto.m2 %><br>

  </div>
</div>

